# derived gitignore file from linux project 
# 

.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno

drivers/modules.order
drivers/Module.symvers

!.gitignore


*.orig
*~
\#*#

/cscope.*
