# normal rules
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
*.gz
*.lzma
*.xz
*.lz4
*.lzo
*.gcno
*.pyc
*.pyo

#
# Top-level generic files
#
/build
/staging
/target

#
# Debian directory (make deb-pkg)
#
/debian/

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore
!.mailmap

#
# Generated include files
#

# stgit generated dirs
patches-*

# quilt's files
series

# cscope files
cscope.*
ncscope.*

# gnu global files

*.orig
*~
\#*#

#
# Leavings from module signing
#
